/*this is variable to target color*/
:root {
  --main-black: black;
  --main-white: white;
  --main-orange: rgb(196, 167, 129);
  --main-gray: #2722228c;
}

body {
  scroll-behavior: smooth;
}
/*                                                      */

/*------------------------------------------*/ 
/*Nav shadow below for DESKTOP*/ 
.nav {
  display:flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  left: 0;
  background: var(--main-gray);
  box-shadow: 10px 10px 30px rgba(235, 176, 49, 0.3);
  z-index: 10;
}


/*------------------------------------------*/
/*Nav list turn horizonal*/
/*Mobile SIZE*/
.nav-list {
  margin-right: 5rem;
  display: flex;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/*------------------------------------------*/
/*Resize media for mobile below*/ /*Mobile SIZE*/
@media (max-width:28.75rem) {
  .nav {
    justify-content: center;
    opacity: 0.9;
    font-size: 10px;
    max-width: 480px;
  }
  .nav-list {
    margin: 2rem;
    text-align: center;
    padding: 10px;
    opacity: 0.9;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
   }
  }

.nav-list a:hover {
  transition: 0.8s;
  box-shadow: 10px 10px 30px rgb(43, 38, 38);
  background: var(--main-orange);
}
/*------------------------------------------*/
/*Starter*/

/*title box space fix below WARNING THIS IS IMPORTANT!*/
.portfo-title {
  padding: 0;
  margin: 0;
}
/*title box space fix below WARNING THIS IS IMPORTANT!*/
.portfo {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}


html {
  font-family: sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: wheat;
  padding: 0;
  margin: 0;
  transform-style: preserve-3d;
  perspective: 1px;
  width: 100%;
  height: 100%;
  overflow-x:hidden;
  overflow-y:scroll;
}

/*------------------------------------------*/
/*BELOW IS IMPORTANT FOR POSITION AND BACKGROUND FOR MOBILE COVER OF ME!!!!*/
/*Mobile SIZE*/
@media (max-width:28.75rem) {
  #main {
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    background-position: 70% 95%;
  }
}
/*H1 text Hi, I'M JUN CHEN*/
#main {
  width: 100%;
  height: 100%;
  background-image: url(https://i.imgur.com/aT5kopP.jpg);
  background-size: cover;
}


.back-home {
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vh;
  position: relative;
  transform-style: inherit;
}

.back-home h1{
  margin: 40px;
  position: absolute;
  left: 11%;
  top: 73%;
  transform: translate(-40%,-40%);
  text-align: center;
  padding-left: 66px;
}

.back-home .back-home:before {
  background:cover;
  
}

.back-home::before {
  background: url(https://i.imgur.com/9hzAWTY.jpg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: '';
  display:block;
  width: 100%;
  max-height: 100vh;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
  background-repeat: no-repeat;
  padding: 800px auto;
}

/*------------------------------------------*/
/*Media SIZE! and math size 980px/16px = 61.25em I HATE MATH*/
/*Mobile SIZE*/
@media (max-width: 61.25rem) {
  html {
    font-size: 58%;
  }
}
/*------------------------------------------*/
/*Media SIZE! and math size 460px/16px = 28.75em OH GOD NOT AGAIN*/
/*Mobile SIZE*/
@media (max-width: 28.75rem) {
  html {
    font-size: 55%;
  }
}
/*------------------------------------------*/

/*STARTER 2 ROUND*/
/*Below is size and font of I am JUN! and SOCIAL*/ 
body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
  color: var(--main-white)
}

h1,h2 {
  text-align: center;
  font-weight: 700;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  text-shadow: 6px 4px black;
}

h2 {
  font-size: 4.2rem;
}
/*------------------------------------------*/
/*remove the stupid dot on href below*/
ul {
  list-style: none;
  font-size: 25px;
  margin: 30px;
}
/*Margin the href space*/
a {
  color: var(--main-white);
  text-decoration: none;
  margin: 2px;
  padding: 15px;
  border-radius: 15px;
}

li {
  text-align: center;
  display:inline-block;
}

/*------------------------------------------*/
/*BELOW IMG EDIT*/
img {
  display:block;
  width: 100%;
}
/*------------------------------------------*/
/*BELOW PORTFOLIO*/
.portfo-secton {
  background: var(--main-orange);
  padding: 10rem 2rem;
  z-index: 10;
  position: relative;
  text-align: center;
}
/*------------------------------------------*/
/*BELOW HEADER H2*/
.portfo-section-header {
  max-width: 640px;
  border-bottom: 0.2rem solid var(--main-white);
  margin: 0 auto 5rem auto;
}
/*Mobile SIZE*/
@media (max-width: 28.75em) {
  .portfo-section-header {
    font-size: 4rem;
  }
}
/*------------------------------------------*/
/*BELOW IMAGE GRID!!!*/
.portfo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
  max-width: 80rem;
}
/*Mobile SIZE*/
@media (max-width: 28.75em) {
  .portfo-secton {
    padding: 6rem 1rem;
  }

  .portfo-grid {
    grid-template-columns: 1fr;
  }
}
/*BELOW IS THE BOX ON PORTFOLIO TEXT*/
.portfo {
  background: var(--main-gray);
  border-radius: 2px;
}

/*BELOW SIZE TEXT BOX*/
.portfo-image {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 6.8rem);
}
/*BELOW SIZE TEXT */
.portfo-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  box-shadow: 10px 10px 30px rgb(43, 38, 38);
  transition: 1s;
}
/*BELOW SIZE HVOER TEXT */
.portfo-title:hover {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  transition: 1s;
  box-shadow: 2px 2px 5px rgb(219, 197, 169);
  background: var(--main-gray);
}
/*------------------------------------------*/
/*BELOW BUTTON AND SHOW ALL */
.button {
  padding: 1rem 2rem;
  border-radius: 2px;
  display: inline-block;
}

.button-show-all {
  font-size: 2rem;
  transition: 0.3s ease-out;
  background:var(--main-gray)
}
/*BELOW BUTTON HOVER COLOR */
.button-show-all:hover {
  background: var(--main-gray);
}

.button-show-all:hover > i {
  transition: 0.3s ease-out;
  transform: translate(0);
  margin-left: 5px;
}

.button-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: 0.3s ease-out;
}
/*------------------------------------------*/
/*CONTACT*/

.contact-select {
  display:flex;
  flex-direction: column;
  background: var(--main-gray);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  background: #141414c9;
}

.contact-select-header h2 {
  font-size: 4rem;
}
/*Mobile SIZE*/
@media (max-width: 28.75em) {
  .contact-select-header h2 {
    font-size: 4rem;
  }
}

.contact-select-header p {
  font-style:italic;
}

.contact-link {
  display:flex;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-info {
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  transition: 0.3s ease-out;
  font-size: 32px;
}

.contact-info:hover {
  transform: translateY(8px);
}
/*------------------------------------------*/
/*Footer BELOW!*/

.footer {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFa1iPb_bWdXTbYOP5IXJVlUp325Rmqu_vaA&usqp=CAU);
  padding: 2rem;
  font-weight: bolder;
}

footer p {
  margin: 2rem;
  text-align: center;
}

/*mobile size*/
@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
